.navbar {
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 2px;
    margin-right: 5px;
}

.ant-layout-sider .logo {
    height: 50px;
    width: 50px;
    margin: 16px auto;
    background: url(/public/images/favicon.png) 100% 100% no-repeat;
    background-position: center center;
    background-size: 73%;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.ant-layout-footer .a {
    text-decoration: none;
}

.table-operations {
    margin: 16px;
}

.table-operations > button {
    margin-right: 8px;
}

.ant-card-cover canvas {
    margin: 0 auto;
}

.ant-confirm-body .ant-confirm-content {
    margin-left: inherit;
}

.ant-confirm-body .ant-confirm-content canvas {
    width: 100% !important;
    height: inherit !important;
}

.btn-create-container {
    padding: 2px 5px;
}

.btn-create-container > button {
    width: 100%;
}

.ant-layout-sider-collapsed .btn-create-container > button span {
    display: none;
}